body{
font-family: sans-serif, tahoma;
font-size:10pt;
}

.mtable{
width:100%;
}

.btable{
width:100%;
height:100%;
border-style:solid;
border-width:1px;
border-spacing:2px;
border-color:black;
border-collapse:collapse;
background-color:white;
font-size:8pt;
}

.btableth{
border-style:solid;
border-width:1px;
border-spacing:2px;
border-color:#000000;
border-collapse:collapse;
background-color:#fff5ee;
padding:1px;
}

.btabletd{
border-style:solid;
border-width:1px;
border-spacing:2px;
border-color:#000000;
border-collapse:collapse;
background-color:#fff5ee;
padding:1px;
}

a.ttip span{
display:none;
}

a.ttip:hover{
position:relative;
z-index:23;
}

a.ttip:hover span{
display:block;
position:absolute;
top:20px;
left:-10;
z-index:22;
background:white;
border:1px solid black;
text-decoration:none;
}

.picker{
background:white;
}

.menutable{
width:100%;
height:100%;
border-style:solid;
border-width:1px;
border-spacing:2px;
border-color:black;
border-collapse:collapse;
background-color:white;
font-size:12pt;
}

.filtertable{
width:100%;
height:100%;
border-style:none;
border-width:1px;
border-spacing:2px;
border-color:black;
border-collapse:collapse;
background-color:white;
font-size:12pt;
}

.usedfilters{
font-size:9pt;
}